.add-connection-block {
    position: relative;
    border: 5px solid black;
}

.add-connection-block input, .add-connection-block label, .add-connection-block select {
    font-size: 14px;
}

.add-connection-block .form-floating {
    margin: 5px 5px 5px 5px;
}

.add-connection-block .col-md-3, .add-connection-block .col-12, .add-connection-block .col-md-6, .add-connection-block .col-md-8, .add-connection-block .col-md-4 {
    display: block;
    float: left;
}

.add-connection-block .form-floating > .form-control, .add-connection-block .form-floating > .form-select {
    height: calc(3.5rem - 10px);
}

.add-connection-block .form-floating > label {
    padding: 0.8rem .75rem;
}

.add-connection-block .form-floating > .form-select {
    padding: 0.5rem .75rem;
}

.add-connection-block .custom-select label {
    transform: scale(.8) translateY(-.8rem) translateX(.15rem);
}

.add-connection-block button {
    font-size: 18px;
    position: absolute;
    border-radius: 50%;
    padding: 0.3em 0.5em;
    right: -15px;
    bottom: -23px;
}

.td-control {
    display: none;
    text-align: center;
}

.buttons:hover button:hover > i {
    color: red;
}

tr {
    position: relative;
}

.buttons {
    opacity: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% - 2px);
    color: #ff0000;
    transition: opacity .3s ease-out, color .3s ease-out;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 1) 100%);
    padding: .5rem 5px .5rem 45px;
    cursor: pointer;
}

tbody > tr:hover .buttons {
    opacity: 1;
}

.buttons > button {
    background-color: transparent;
    border: none;
}
