*{
    box-sizing: border-box;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

table tbody tr {
    position: relative;
}

table tbody tr .button_group {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    box-sizing: border-box;
    margin-right: 10px;

}

table tbody tr .button_group button {
    margin-right: 5px;
}

table tbody tr:hover .button_group {
    opacity: 1;
}

.error{
    border-color: red;
}

.modal-settings{
    position: fixed;
    width: 100%;
    height: calc(100% - 65px);
    display: none;
    top: 65px;
    left: 0;
    background: white;
    padding-top: 30px;
    overflow: auto;

}

.input-header{
    font-weight: bold;
}

.modal-settings .form-option{
    text-align: left;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.modal-settings label{
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.modal-settings label .input-detail{
    font-size: 10px;
    font-style: italic;
}

.modal-settings input{
    outline: 0;
    border-width: 0 0 2px;
    width: 100%;
    box-sizing: border-box;
}

.modal-settings select{
    background: transparent;
    border-width: 0 0 2px;
    width: 100%;
}

.form-option p{
    padding: 1px 2px;
    margin: 0;
}

.advanced-settings{
    position: relative;
    border-radius: 5px;
    padding: 20px 10px;
    border: red solid 2px;
}

.advanced-settings p {
    font-size: 11px;
    margin: 0;
    background: white;
    position: absolute;
    top: -7px;
    left: 22px;
    padding: 0 15px;
}

@media screen and (max-width: 500px) {
    .modal-settings{
        flex-direction: column;
        padding-bottom: 25px;

    }
    .date-time-string{
        flex-wrap: wrap;
    }
    .date-time-string span{
        flex: 10%;
    }
    .date-time-string .dp__theme_light{
        flex: 90%;
    }

    .column{
        width: 100%;
        padding: 0 15px;
    }

}
