{% load static %}
<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{% static 'index/favicon.ico' %}">
    <title>osa_transcrib</title>
    <script defer="defer" src="{% static 'index/js/chunk-vendors.6a9d700b.js' %}"></script>
    <script defer="defer" src="{% static 'index/js/app.3de80040.js' %}"></script>
    <link href="{% static 'index/css/chunk-vendors.69a4a453.css' %}" rel="stylesheet">
    <link href="{% static 'index/css/app.d72aa01a.css' %}" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but osa_transcrib doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
</body>
</html>