{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'index/default_head.html' %}
    <link rel="stylesheet" href="{% static 'index/css/blink_text.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'connections/css/connections.css'%}">
    <script src="{% static 'index/js/index.js'%}"></script>
    <script src="{% static 'connections/js/connections.js' %}"></script>
    <script src="{% static 'tasks/js/tasks.js'%}"></script>
    <title>Title</title>
</head>
<body>
<div id="sidebar" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    {% include 'index/sidebar.html' %}
</div>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div id="fake-sidebar"></div>
        <div id='content-block' class="col">
            <h3>Left Sidebar with Submenus</h3>
            <p class="lead">An example 2-level sidebar with collasible menu items. The menu functions like an "accordion" where only a single menu is be open at a time.</p>
            <ul class="list-unstyled">
                <li><h5>Responsive</h5> shrinks in width, hides text labels and collapses to icons only on mobile</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>