.nav-link{
    color: white;
}

.nav-link:focus, .nav-link:hover {
    color: #696ff1;
}

#sidebar{
    position: fixed;
    z-index: 10000;
    max-width: fit-content;
}

#fake-sidebar{
    width: 165px;
}
@media screen and (max-width: 576px) {
    #fake-sidebar{
        width: 65px;
    }
}

