{% load static %}
<div class="add-connection-block py-1 clearfix">
    <form>
        <input name="event" value="add_task" style="display: none">
        <div class="col-12">
            <div class="col-md-6 col-12">
                <div class="form-floating">
                    <input id='period-from' type='text' name="period_from" class='datepicker-here form-control'
                           data-timepicker="true" required/>
                    <label for="period-from">Date from</label>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-floating">
                    <input id='period-to' name="period_to" type='text' class='datepicker-here form-control'
                           data-timepicker="true" required/>
                    <label for="period-to">Date to</label>
                </div>
            </div>
            <input type="text" style="display: none;" name="__all__" value="">
            <div class="invalid-feedback">
            </div>
        </div>
        <div class="col-12">
            <div class="col-12 col-md-6">
                <div class="form-floating">
                    <input id="alias-input" type="text" name="alias" class="form-control" placeholder="connect_name">
                    <label for="alias-input">Alias</label>
                    <div class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-floating custom-select">
                    <select class="form-select" name="connection_id" id="db-select"
                            aria-label="Floating label select example" required>
                        {% for connection in connections %}
                            <option value="{{ connection.id }}">{{ connection.alias }}</option>
                        {% endfor %}
                    </select>
                    <label for="db-select">Database Alias</label>
                    <div class="invalid-feedback">
                        field is required
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="col-12 col-md-4">
                <div class="form-floating custom-select">
                    <select class="form-select" name="language_id" id="ts-language"
                            aria-label="Floating label select example" required>
                        {% for language in languages %}
                            <option value="{{ language.id }}">{{ language.language }}</option>
                        {% endfor %}
                    </select>
                    <label for="ts-language">Language</label>
                    <div class="invalid-feedback">
                        field is required
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-floating">
                    <input id="alias-input" type="text" name="time_processing" class="form-control" placeholder="time processing">
                    <label for="alias-input">Time processing</label>
                    <div class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-floating custom-select">
                    <select class="form-select" name="thread_count" id="thread-count"
                            aria-label="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <label for="thread-count">Threads</label>
                    <div class="invalid-feedback">
                        field is required
                    </div>
                </div>
            </div>
        </div>
    </form>
    <button type="button" id="add-connect-btn" data-url="{% url 'tasks:tasks_post' %}" data-target="task"
            class="btn btn-success"><i class="bi bi-plus-lg"></i></button>
    <input type="text" style="display: none;" name="__all__" value="">
    <div class="invalid-feedback">
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Task_Alias</th>
        <th scope="col">DB_Alias</th>
        <th scope="col">Language</th>
        <th scope="col">Status</th>
        <th scope="col">Time</th>
        <th scope="col">R ID</th>
        <th scope="col">R Count</th>
        <th scope="col">Threads</th>
        <th scope="col">Percent
            <div class="buttons">
                <button title="Удалить" data-alias="{{ task.alias }}" data-con_id="{{ task.id }}"
                        data-url="{% url 'tasks:tasks_post' %}"><i class="bi bi-x-lg"></i></button>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ task.period_from }}</td>
            <td>{{ task.period_to }}</td>
            <td>{{ task.alias }}</td>
            <td>{{ task.db__alias }}</td>
            <td>{{ task.language__language }}</td>
            <td>{{ task.status__status }}</td>
            <td>{{ task.time_processing }}</td>
            <td>{{ task.processed_record_id }}</td>
            <td>{{ task.record_count }}</td>
            <td>{{ task.thread_count }}</td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{ task.percent }}%"></div>
                </div>
                <div class="buttons">
                    {% if task.status__status == 'stopped' %}
                        <button title="Play" class="management-btn" data-alias="{{ task.alias }}" data-event="play"
                                data-url="{% url 'tasks:tasks_post' %}"
                                data-task_id="{{ task.id }}"><i class="bi bi-play-circle"></i></button>
                        <button id="del-button" title="Удалить" data-target="task" data-alias="{{ task.alias }}"
                                data-task_id="{{ task.id }}"
                                data-url="{% url 'tasks:tasks_post' %}"><i class="bi bi-x-lg"></i></button>
                    {% elif task.status__status == 'in progress' %}
                        <button title="Stop" class="management-btn" data-alias="{{ task.alias }}" data-event="stop"
                                data-url="{% url 'tasks:tasks_post' %}"
                                data-task_id="{{ task.id }}"><i class="bi bi-stop-circle"></i></button>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'index/modal.html' %}
<script>
    $(document).ready(function () {
        var myDataPicker = $('#period-from').datepicker({
            language: 'en',
            dateFormat: 'yyyy-mm-dd',
            autoClose: true
        }).data('datepicker');
        myDataPicker.selectDate(new Date());
        var myDataPicker = $('#period-to').datepicker({
            language: 'en',
            dateFormat: 'yyyy-mm-dd',
            autoClose: true
        }).data('datepicker');
        myDataPicker.selectDate(new Date());
    });
</script>
